*{
    padding: 0;
    margin: 0;
    font-family: monospace;
    box-sizing: border-box;
}

.navbar ul{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    background-color: rgba(27, 119, 27, 0.726);
    color: white;
    text-decoration: none;
}

.navbar ul li{
    list-style-type:none;
    padding: 10px 20px 10px 20px;
    text-transform: uppercase;
}

.navbar a{
    text-decoration: none;
    color: white;
}
.navbar-logo{
    flex: 1;  
}

.logo{
   height: 90px;
   width: 110px;
}

.dropbtn{
    border: none;
    outline: none;
    overflow: hidden;
    background: none;
    color: white;
}

h1{
    color: rgba(27, 119, 27, 0.726);
    text-transform: uppercase;
    text-align: center;
}

h2{
    color: rgba(27, 119, 27, 0.726);
    text-transform: uppercase;
    margin:0px 20px 5px;
}
.banner_img{
    width: 100%;
}

.reg_form{
    background: rgba(128, 128, 128, 0.151);
}

.imgs img{
    width: 90%;
}

.des{
    margin:0px 20px 5px;
}

.imgs{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.responsive{
    width: 100%;
}

.form-part{
    display: flex;
}



.row {
    display: block;
    margin-left: 40px;
    width: 100%;
    margin-bottom: 5px;
}

.grid-container {
    display: flex;
    justify-content: center;
}

label{
    font-size: 14px;
}


.rd{
    margin: 15px;
    padding: 8px 10px;
}


.button{
    margin: 15px;
    background-color: rgba(27, 119, 27, 0.726);
    border: none;
    padding: 10px 140px;
    color: white;
    text-decoration: none;
}

.lin,#location{
    width: 40%;
    background-color: rgb(247, 247, 247);
    margin: 7px;
    padding: 8px 10px;
    border: none;
}

.side-menu-mobile{
    display: none;
}

.side-menu{
    display: block;
}



/* for phone and tablet */

@media screen and (max-width: 825px) {

    .navbar ul{
        display: block;
        text-align: center;
        font-size: 16px;
        background: rgba(27, 119, 27, 0.726);
        color: white;
        text-decoration: none;
        font-weight: bold;
    }

    .navbar ul li{
        padding: auto;
    }

    .imgs{
        display: block;
        align-items: center;
    }
    
    .imgs img{
        width: 300px;
        height: auto;
    }

    .form-part{
        display: block;
    }

    .row {
        margin-left: 90px;
        width: 100%;
        margin-bottom: 5px;
    }

    .side-menu-mobile{
        top:0;
        display: block;
        position: fixed;
        z-index: 1 !important;
        background-color: #ffaa0b;
        width: 100%;
    }

    .btn-menu{
        background-color: #ffaa0b;
        border-style: none;
        color: white;
        float: right;
        font-size: 30px;
    }

    
    .side-menu{
        display: none;
    }

    
    .hide-show{
        display: none;
    }
}